In [1]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_excel(r'C:\Users\bryan\Downloads\2024_manhattan.xlsx')

In [ ]:
df_filtered = df[['NEIGHBORHOOD', 'MEDIAN SALE PRICE']].copy()

In [ ]:
df_grouped = df_filtered.groupby('NEIGHBORHOOD', as_index=False)['MEDIAN SALE PRICE'].mean()

In [18]:
pd.options.display.float_format = '{:,.2f}'.format

In [20]:
neighborhood_to_zip = {
    'ALPHABET CITY': 10009,
    'BATTERY PARK CITY': 10280,
    'CARNEGIE HILL': 10128,
    'CENTRAL HARLEM': 10026,
    'CHELSEA': 10011,
    'CHINATOWN': 10013,
    'CIVIC CENTER': 10007,
    'CLINTON': 10019,
    'EAST HARLEM': 10029,
    'EAST VILLAGE': 10003,
    'FINANCIAL DISTRICT': 10005,
    'FLATIRON': 10010,
    'GRAMERCY': 10010,
    'GREENWICH VILLAGE': 10011,
    'HAMILTON HEIGHTS': 10031,
    'HARLEM': 10027,
    'INWOOD': 10034,
    'KIPS BAY': 10016,
    'LITTLE ITALY': 10013,
    'LOWER EAST SIDE': 10002,
    'MANHATTAN VALLEY': 10025,
    'MANHATTANVILLE': 10027,
    'MARBLE HILL': 10463,
    'MIDTOWN': 10022,
    'MIDTOWN EAST': 10017,
    'MIDTOWN WEST': 10036,
    'MORNINGSIDE HEIGHTS': 10027,
    'MURRAY HILL': 10016,
    'NOHO': 10012,
    'NOLITA': 10012,
    'ROOSEVELT ISLAND': 10044,
    'SOHO': 10012,
    'STUYVESANT TOWN': 10009,
    'SUTTON PLACE': 10022,
    'TRIBECA': 10007,
    'TURTLE BAY': 10017,
    'UPPER EAST SIDE': 10021,
    'UPPER WEST SIDE': 10024,
    'WASHINGTON HEIGHTS': 10033,
    'WEST VILLAGE': 10014,
    'YORKVILLE': 10028
}

In [21]:
df_grouped['NEIGHBORHOOD'] = df_grouped['NEIGHBORHOOD'].str.upper().str.strip()

In [22]:
df_grouped['ZIP_CODE'] = df_grouped['NEIGHBORHOOD'].map(neighborhood_to_zip)

In [24]:
df_grouped['ZIP_CODE'] = df_grouped['ZIP_CODE'].astype('Int64')

In [27]:
df_with_zip = df_grouped.dropna(subset=['ZIP_CODE']).copy()

In [29]:
df_final = df_with_zip.groupby('ZIP_CODE', as_index=False)['MEDIAN SALE PRICE'].mean()

In [31]:
manhattan_zips = list(range(10001, 10045)) + [10055, 10060, 10065, 10069, 
                                                 10075, 10080, 10081, 10082,
                                                 10090, 10095, 10096, 10098,
                                                 10099, 10103, 10104, 10105,
                                                 10106, 10107, 10110, 10111,
                                                 10112, 10115, 10118, 10119,
                                                 10120, 10121, 10122, 10123,
                                                 10128, 10150, 10151, 10152,
                                                 10153, 10154, 10155, 10158,
                                                 10162, 10165, 10166, 10167,
                                                 10168, 10169, 10170, 10171,
                                                 10172, 10173, 10174, 10175,
                                                 10176, 10177, 10178, 10179,
                                                 10185, 10199, 10271, 10278,
                                                 10279, 10280, 10281, 10282]

In [32]:
all_zips_df = pd.DataFrame({'ZIP_CODE': manhattan_zips})

In [33]:
df_complete = all_zips_df.merge(df_final, on='ZIP_CODE', how='left')

In [34]:
df_complete['MEDIAN SALE PRICE'] = df_complete['MEDIAN SALE PRICE'].fillna(0)

In [35]:
df_complete = df_complete.sort_values('ZIP_CODE').reset_index(drop=True)

In [ ]:
df_complete.to_excel('manhattan_median_prices_by_zip.xlsx', index=False)

Data exported to 'manhattan_median_prices_by_zip.xlsx'